
.post_div{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    margin: 10px;
}

.item_list_header{
    height: 40px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.item_list_header h3{
    font-size: 17px;
    font-weight: 500;
}

#item_image{
    width: 100%;
    max-height: 270px;
    object-fit: contain;
}

.item_list_details{
    display: block;
    text-align: center;
    justify-content: space-evenly;
    border-top: 1px solid gray;
}

.item_list_details h4{
    font-size: 16px;
    font-weight: 700;
    line-height: 10px;
}

.details_ul_div p{
    line-height: 10px;
}

.item_list_details  span{
    color: rgb(131, 7, 255);
    font-size: 20px;
}

.car_detail_ul{
    margin-top: -10px;
    margin-bottom: 10px;
    list-style-type: circle;
}

.car_detail_ul li{
    text-align: center;
    text-indent: -100px;
    font-size: 15px;
}

.btn_div{
    display: flex;
    justify-content: center;
    text-align: center;
}

.whatsapp_btn{
    height: 40px;
    width: 120px;
    border-radius: 7px;
    display: flex;
    border: none;
    background-color: #128C7E;
    font-size: 15px;
    line-height: 40px;
    color: white;
}

.whatsapp_btn:hover{
    color: #128C7E;
    background-color: white;
    border: 2px solid #128C7E;
    text-align: center;
}

#whatsapp_icon{
    margin-top: 5px;
}

.see_btn{
    height: 40px;
    width: 120px;
    border-radius: 7px;
    display: flex;
    border: none;
    font-size: 15px;
    line-height: 40px;
    color: white;
    background-color: #0465ba;
    margin-left: 10px;
}

.see_more_img{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    margin-right: 10px;
}

.main{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.edit_btn{
    height: 40px;
    width: 80px;
    border-radius: 7px;
    border: none;
    background-color: green;
    font-size: 17px;
    color: white;
    margin-right: 10px;
}


.delete_btn{
    height: 40px;
    width: 80px;
    border-radius: 7px;
    border: none;
    background-color: red;
    font-size: 17px;
    color: white;
}

@media screen and (max-width: 600px){

    .main{
        width: 100%;
        display: inline-block;
        text-align: center;
        justify-content: space-between;
        overflow-y: scroll;
        margin-top: 25%;        
    }

    .post_div{
        width: 300px;
        height: 480px;
        margin: auto;
        margin-top: 30px;
    }

    .item_list_header{
        height: 30px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid gray;
    }

    .item_list_header h3{
        font-size: 18px;
        font-weight: 600;
    }
}